.comment-card {
    position: relative;
    display: flex;
    /* padding: 20px; */
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
  }
  
  
  .media-body h5 {
    font-size: 16px;
  }
  
  .media-body span,
  .media-body p {
    font-size: 12px;
  }
  
  .reply a {
    text-decoration: none;
  }
  